* {
    box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.login-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    width: max(23vw, 330px);
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    font-size: medium;
    gap: 10px;
    margin-top: -100px;
}

.login-form-container h1 {
    font-weight: 400;
	font-size: 28px;
	
}

.login-form-container label {
    font-weight: 700;
    padding-left: 2px;
	font-size: 13px;
}

.login-form-container button {
    background: #ffd814;
    border-color: #fcd200;
    border-radius: 8px;
    padding: 6px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 0px;
}

.login-form-container button:hover {
    background-color: #fcd200;
    /* border-color: #a88734 #9c7e31 #846a29; */
}

.form {
    padding: 0px 2px;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

#email {
    padding: 6px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(175, 172, 172);
    outline-color: rgb(24, 160, 175);
}

#email:focus {
    box-shadow: 0px 0px 5px 1px aqua;
}

.login-text {
    font-size: 12px;
}

.bottom {
    margin-top: 15px;
    border-top: 1px solid rgb(221, 217, 217);
}

.bottom a {
    margin-top: 0px;
}

.account-button {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.account-button button {
    background: transparent;
    padding: 6px;
    border-radius: 8px;
    width: 350px;
    margin-left: 2px;
    margin-right: 13px;
    border: 1px solid #c9c9c9;
}

.account-button button:hover {
    background-color: rgb(244, 245, 245);
}

.account-button button:focus {
    box-shadow: 0px 0px 5px 1px aqua;
    /* outline-color:rgb(24, 160, 175); */
    /* this property is not working  */
}
